<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>My test page</title>
</head>
    <body>

        <h1>Crabcake Recipe</h1>

        <h3>Ingredients:</h3>
        <ul>
            <li>1 lb. jumbo lump or backfin crab meat</li>
            <li>2 slices bread or bread crumbs</li>
            <li>1 tbsp. mayonnaise (light or regular)</li>
            <li>1 tbsp. Dijon mustard</li>
            <li>2 tsp. Old Bay seasoning</li>
            <li>1 tbsp. snipped parsley</li>
            <li>1 egg (or substitute for special diets)</li>
            <li>tartar sauce or cocktail sauce</li>
        </ul>

        <h3>Directions:</h3>
        <p>Beat the egg in a bowl. Trim the crusts from the bread and break the slices into small pieces.<br>
           Add these pieces to the egg. Mix in the mayonnaise, Dijon mustard, Chesapeake seasoning <br>
           and parsley, and beat well.<br></p>
        <p>Place the crabmeat in a bowl and pour the egg mixture over the top. Gently toss or fold the <br>
           ingredients together, taking care not to break up the lumps of crabmeat.<br></p>
        <p>Form the cakes by hand into patties about 3 inches around and 3/4-inch thick. Shape should<br>
           be like a cookie, not like a meatball or golf ball. Place the cakes in the refrigerator for at least<br>
            45 minutes before cooking. This is very important so the cakes don't fall apart.<br></p>

        <h3>Broil the Crab Cakes:</h3>
        <p>Slip them under a preheated broiler until nicely browned, turning to cook evenly, about 4<br>
           to 5 minutes on each side.<br></p>

        <h3>Or Saute:</h3>
        <p>Heat a small amount of butter or olive oil in a skillet and saute the cakes, turning several<br>
           times, until golden brown or about 8 minutes total cooking time.<br></p>
        <p>Serve at once with tartar sauce, mustard, or cocktail sauce on the side.</p>

        <h3>Serves 6 people.</h3>

        <p>Visit <a href="http://w3schools.com/html">w3schools</a> for more details.</p>
        <img src="https://upload.wikimedia.org/wikipedia/commons/1/1d/Crabcakes_and_salad,_Tate_Modern.jpg" alt="Crabcakes" height="200">

    </body>
</html>